<h3 class="player-name red">Player 1 ()</h3>
<div class="play-area">
  <%= render "shared/timer" %>
  <%= render "shared/board" %>
  <%= render "shared/chat" %>
</div>
<h3 class="player-name blue">Player 2 ()</h3>

<div class="play-image"></div>