<div class="board">
  <%= render "shared/nodes" %>

  <div class="piece red rock"></div>
  <div class="piece red paper"></div>
  <div class="piece red scissors"></div>

  <div class="piece blue rock"></div>
  <div class="piece blue paper"></div>
  <div class="piece blue scissors"></div>
</div>

<button class="reset">Reset</button>