<div class="board">
  <%= render "shared/nodes" %>

  <div class="piece red rock" style="top:0;left:0;"></div>
  <div class="piece red paper" style="top:135px;left:0;"></div>
  <div class="piece red scissors" style="top:0;left:135px;"></div>

  <div class="piece blue rock" style="bottom:0;right:0;"></div>
  <div class="piece blue paper" style="bottom:0;right:135px;"></div>
  <div class="piece blue scissors" style="bottom:135px;right:0;"></div>
</div>