<div class="chat" id="<%= chat.id %>">
  <ul class="messages">
    <% chat.messages.each do |message| %>
      <li class="message"><%= "#{message.author.name}: #{message.text}" %></li>
    <% end %>
  </ul>
  <textarea></textarea>
  <div id="game-button-container" data-initial-action="<%= button.action %>"></div>
  <button class="send">Send</button>
</div>