<div class="chat" id="<%= chat.id %>">
  <ul class="messages">
    <% chat.messages.each do |message| %>
      <li class="message"><%= "#{message.author.name}: #{message.text}" %></li>
    <% end %>
  </ul>
  <textarea></textarea>
  <%= render partial: "shared/game_buttons", locals: { button: button } %>
  <button class="send">Send</button>
</div>