<% action = button.action unless button.nil? %>
<% text = button.text unless button.nil? %>
<% disabled = button.present? ? button.disabled : true %>

<button class="game" action="<%= action %>" <%= "disabled" if disabled %> > <%= text %> </button>
