<% 7.times do |i| %>
  <div class="row <%= i%2 == 0 ? 'long' : 'short' %>">

    <% 7.times do |j| %>
      <% next unless i%2 == j%2 %>
      <% id = "x-#{j}-y-#{i}" %>
      
      <div class="node" id="<%= id %>"></div>
    <% end %>

  </div>
<% end %>