<% 7.times do |i| %>
  <% even = i%2 == 0  %>

  <div class="row <%= even ? 'long' : 'short' %>">
    <% 7.times do |j| %>
      <% next unless i % 2 == j % 2 %>
      <% id = "x-#{j}-y-#{i}" %>
      <div class="node" id="<%= id %>"></div>
    <% end %>

  </div>
<% end %>