<% side = player.nil? ? "waiting" : player.color %>
<% user_name = player.nil? ? "waiting for opponent" : player.user_name %>
<% noun = player.nil? ? "..." : player.get_noun(user.id) %>

<h3 class="player-name <%= side %>">
  <%= user_name %> (<%= noun %>)
</h3>