<div class="container">
  <h1 class="site-title">Fox<br/>Paper<br/>Scissors</h1>
  <div class="links-container">
    <a href="play/ai/" class="ai">Play vs. AI!</a>
    <a href="play/human/" class="human">Play vs. Human!</a>
  </div>

  <div class="tutorial-area">
    <%= render partial: "shared/board", locals: { board: @board } %>
  </div>

  <ul class="tutorial-messages">
  </ul>

  <p class="site-description"><strong>Fox Paper Scissors</strong> is an original game that combines the <a href="https://en.wikipedia.org/wiki/Nontransitive_game" target="_blank">non-transitivity</a> of Rock Paper Scissors with the chasing mechanics of traditional <a href="https://en.wikipedia.org/wiki/Fox_games" target="_blank">fox games</a>.</p>
</div>

<div class="splash-image"></div>

<%= javascript_tag do %>
    var Pieces = <%= @board.nil? ? [] : @board.pieces.to_json.html_safe %>;
    var startingPosition = "<%= @board.nil? ? "" : @board.position %>";
<% end %>
