@import 'variables';

.chat {
  width: 225px;
  height: 100%;
  background-color: $chat-color;
  font-size: 16px;

  .messages {
    height: 80%;
    margin: 2px;
    background-color: $chat-messages-color;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;

    .message {
      width: 100%;
      margin: 5px 1px 1px 1px;
      color: $chat-text-color;
    }
  }

  textarea {
    width: calc(100% - 10px);
    height: 32px;
    margin: 5px;
    padding: 0;
    border: 0;
    background-color: $chat-messages-color;
    font-family: 'Open Sans', sans-serif;
  }

  button {
    background-color: orange;
    float: right;
    font-family: 'Open Sans', sans-serif;
  }
}