@import 'colors';
@import 'mixins';

#chat-container  {
  width: 223px;
  height: 450px;
  border: 1px solid $black;
  border-radius: 20px;
  box-shadow: 1px 1px 2px $very-dark-gray;
  background-color: $very-transparent-black;
  font-size: 16px;

  #messages {
    height: 360px;
    margin: 2px;
    border-radius: 15px 15px 0 0;
    background-color: $very-transparent-white;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;

    .message {
      width: calc(100% - 10px);
      margin: 5px 5px 0 5px;
      color: $very-dark-gray;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

  textarea {
    width: 213px;
    height: 32px;
    margin: 5px;
    padding: 0;
    border: 1px solid $black;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    background-color: $very-light-gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
  }

  button.send {
    @include button($orange);
    float: right;
    margin-right: 5px;
  }
}