$red: #f00;
$blue: #00f;
$green: #0f0;
$black: #000;
$white: #fff;

$bright-blue: #00e;
$brightish-blue: #00d;
$med-bright-blue: #00c;
$med-bright-red: #c00;
$dim-green: #4a6;
$bright-bluish-green: #0f5;
$med-green: #0a0;

$turquoise: #0af;
$orange: #f50;

$med-temp-light-gray: #a5a0a9;
$med-gray: #777;
$very-dark-gray: #333;
$very-light-gray: #eee;

$transparent-light-gray: rgba(200, 200, 200, 0.5);
$very-transparent-white: rgba(255, 255, 255, .20);
$very-transparent-black: rgba(0, 0, 0, .10);