$board-color: #000;
$board-active-color: #f00;
$board-text-color: #fff;

$timer-color: #bbb;
$timer-text-color: #080;

$chat-color: #add8e6;
$chat-messages-color: desaturate(lighten($chat-color, 20%), 20%);
$chat-text-color: #333;

.play-area {
  width: 750px;
  height: 450px;
  margin: 50px auto;

  & > div {
    float: left;
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.timer {
  width: calc(20% - 25px);
  height: 100%;
  color: $timer-text-color;
  background-color: $timer-color;
}

.board {
  position: relative;
  width: calc(60%);
  height: 100%;
  color: $board-text-color;
  background-image: url(image_path('line_grid.png'));
  background-size: contain;

  .row {
    display: flex;
    justify-content: space-between;

    height: 52px;
    margin-top: 14px;
    overflow: auto;

    &.long {
      width: 100%;

      .node {
        background-color: #ccc;
      }
    }

    &.short {
      width: 70%;
      margin-right: auto;
      margin-left: auto;

      .node {
        background-color: #777;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .node {
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }

    &.highlighted {
      border-color: #ffd700;
    }
  }

  .piece {
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    background-size: contain;

    &.highlighted {
      border-color: #0f0;
    }

    &.red {
      background-color: red;
    }

    &.blue {
      background-color: blue;
    }

    &.rock {
      background-image: url(image_path('rock.png'));
    }

    &.paper {
      background-image: url(image_path('paper.png'));
    }

    &.scissors {
      background-image: url(image_path('scissors.png'));
    }
  }
}

.chat {
  width: calc(20% - 25px);
  height: 100%;
  background-color: $chat-color;
  font-size: 16px;

  .messages {
    height: 80%;
    margin: 2px;
    background-color: $chat-messages-color;

    .message {
      width: 100%;
      margin: 1px;
      color: $chat-text-color;
    }
  }

  textarea {
    width: calc(100% - 10px);
    height: 32px;
    margin: 5px;
    padding: 0;
    border: 0;
    background-color: $chat-messages-color;
  }

  button {
    background-color: orange;
    float: right;
  }
}