@import 'colors';
@import 'mixins';

$red-shadow-color: darken($med-bright-red, 25%);
$blue-shadow-color: darken($med-bright-blue, 25%);

.play-area {
  width: 850px;
  height: 450px;
  margin: 10px auto;

  #turn-tracker, .board, .chat {
    float: left;
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }
  }
}

button.game {
  float: left;
  width: 110px;
  height: 31px;
  margin-left: 5px;
  text-align: center;

  &:disabled {
    display: none;
  }

  &[action=new-game] {
    @include button($turquoise);
  }

  &[action=offer-draw]{
    @include button($dim-green);
  }

  &[action=accept-draw]{
    @include button($bright-bluish-green);
    box-shadow: 0 0 10px $green;
  }
}

.player-name {
  position: relative;
  left: -50px;
  width: 850px;
  margin: 20px auto;
  font-size: 36px;
  text-align: center;
  font-family: 'Arvo', serif;

  &:before {
    content: attr(data-content)
  }

  &.red {
    color: $med-bright-red;
    @include text_stroke($red-shadow-color);
  }

  &.blue {
    color: $med-bright-blue;
    @include text_stroke($blue-shadow-color);
  }

  &.gray {
    color: $very-dark-gray;
    @include text_stroke($black);
  }
}

.play-image {
  @include site_background_image(15px, 75%, 150%);
}
