@import 'colors';
@import 'mixins';

$default-link-color: $bright-blue;
$med-green-border: darken($med-green, 10%);
$brightish-blue-border: darken($brightish-blue, 10%);

.container {
  position: relative;
  width: 350px;
  margin: 25px auto;
  border: 1px solid $black;
  border-radius: 20px;
  box-shadow: 3px 3px 5px $very-dark-gray;
  background-color: $transparent-light-gray;
}

.site-title {
  position: absolute;
  top: 0;
  left: -305px;
  color: $black;
  font-size: 84px;
  line-height: .85;
  text-align: center;
  font-family: 'Signika', serif;
  text-shadow: 1px 1px 5px $white;
}

.site-description {
  width: 300px;
  margin: 10px auto;
  line-height: 1.3;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;

  strong {
    font-weight: bold;
  }

  a {
    color: $default_link_color;
    text-decoration: none;

    &:visited {
      color: $default_link_color;
    }
  }
}

.tutorial-area {
  width: 300px;
  height: 300px;
  margin: auto;

  .board {
    transform: scale((2 / 3));
    transform-origin: 0 0;
  }
}

#tutorial-messages {
  position: absolute;
  bottom: 0;
  right: -295px;
  width: 280px;
  height: 200px;
  border: 1px solid $black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px $very-dark-gray;
  background-color: $very-transparent-white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  overflow: scroll;

  .message {
    width: 270px;
    margin: 5px 5px 0 5px;
    color: $black;

    span {
      font-weight: bold;
    }

    .red {
      color: $med-bright-red;
    }

    .blue {
      color: $med-bright-blue;
    }
  }
}

.links-container {
  width: 300px;
  margin: 25px auto;
  overflow: auto;

  a {
    width: 120px;
    padding: 10px;
    border: 2px solid $black;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: $white;
    text-decoration: none;

    &.ai {
      float: left;
      background-color: $med-green;
      border-color: $med-green-border;
    }

    &.human {
      float: right;
      background-color: $brightish-blue;
      border-color: $brightish-blue-border;
    }
  }
}

.splash-image {
  @include site_background_image(8px, 50%, 130%);
}