@import 'variables';

.timer {
  position: relative;
  z-index: 1;
  width: 123px;
  height: 100%;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #777;
  background-color: rgba(0,0,0, 0.10);

  .turn-tracker {
    position: absolute;
    width: 0; 
    height: 0; 
    margin: auto;
    left: 0;
    right: 0;

    &.red {
      top: 50px;

      //triangle-up
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 50px solid red;

      &:before {
        position: relative;
        z-index: -1;
        right: 33px;
        bottom: 3px;
        content: "";
        display: table;
        border-left: 33px solid transparent;
        border-right: 33px solid transparent;
        border-bottom: 55px solid #000;
      }
    }

    &.blue {
      bottom: 50px;

      //triangle down
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 50px solid blue;

      &:before {
        position: relative;
        z-index: -1;
        right: 33px;
        bottom: 52px;
        content: "";
        display: table;
        border-left: 33px solid transparent;
        border-right: 33px solid transparent;
        border-top: 55px solid #000;
      }
    }
  }
}