$board-active-color: #f00;
$board-text-color: #fff;

$timer-color: #bbb;
$timer-text-color: #080;

$chat-color: #add8e6;
$chat-messages-color: desaturate(lighten($chat-color, 20%), 20%);
$chat-text-color: #333;